<!DOCTYPE html>
<html>
<head>
    <title>Contents!</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href={{ url_for('static', filename="css/main.css") }}>
</head>
<body>
<div class="container main">
    <div class="row title">
        <div class="col-xs-offset-3 col-xs-6">
            <p>.col-xs-6 .col-md-4</p>
        </div>
        <div class="col-xs-offset-3 col-xs-6 url">
            <button class="btn btn-default">Url</button>
        </div>
    </div>
</div>
</body>
</html>

