<!DOCTYPE html>
<html>
<head>

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" >
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

	<title>
		upload content
	</title>
</head>
<body>
		<form id="form-email" action="/upload_content" method="POST">
        <input type="text" name="title" placeholder="제목" required><br>
        <input type="text" name="subtitle" placeholder="부제목"><br>
        <input type="text" name="url" placeholder="url" required><br>
        <input type="text" name="img_url" placeholder="img_url" required><br>
        <input type="text" name="tag" placeholder="tag" required><br>
        <input type="text" name="class" placeholder="class" required><br>
        <button type="submit">보내기</button>

</body>
</html>